<html>
     <head>
        <title>Welcome to your TweetSmithy!</title>
     </head>
<body>
    <div>
      <center>
        <h1> TweetSmithy </h1>
      <p>
        <%= form_tag "/search", method: "GET" do %>
        <%= text_field_tag :search_word, "This is your anvil—type your tweet here.", size: 150 %>
        <input class="btn btn-default" type="submit" value="Submit"></button>
        <%#= submit_tag "get those synonyms" %>
    <% end %>
    </p>
      </center>
    </div>
   <%= yield %>
<br/><br/>



</html>
