<html>
     <head>
        <title>Welcome to your TweetSmithy!</title>
     </head>
<body>
    <div>
      <center>
        <h1> TweetSmithy </h1>
      <p>
        <%= form_tag "/search", method: "GET" do %>
            Your Anvil:
        <%= text_field_tag :search_word, "Type your tweet here...", size: 75 %>
        <%= submit_tag "get those synonyms" %>
    <% end %>
    </p>
      </center>
    </div>
   <%= yield %>
<br/><br/>



</html>
